.button {
  background-color: #8b0000;
  border-color: #8b0000;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  font-size: 20px;
  padding: 5px;
  margin: 10px;
}
.error {
  background-color: #ac4545;
}
.form {
  position: fixed;
  display: flex;
  right: 200px;
  background-color: #00a5a5;
  border-radius: 10px;
  padding: 15px;
}
