.background {
  background-color: darkcyan;
}
.planer {
  background-color: darkcyan;
  font-size: 50px;
  font-family: cursive;
  color: #8b0000;
}
.button {
  background-color: #8b0000;
  border-color: #8b0000;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  font-size: 20px;
  padding: 5px;
  margin: 10px;
}
.l {
  padding: 20px;
}
